.dashboardHeaderContainer {
    padding-top: 2rem;
}
.dashboardAdminTitle {
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.dashboardAdminTitleLeft {
    font-size: 1.5rem;
}
.dashboardAdminTitleRight {
    font-size: 1.5rem;
}
.dashboardAdminTitleRight > span {
    padding-left: 2rem;
}