html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  color: #3c4352;
  font-size: 14px;
  line-height: 18px;
}

.container-page {
  min-height: 100vh;
}
